@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.display {
  width: 100%;
  height: 250px;
  border: 1px solid black;
  border-radius: 9px;
}

.keyboard {
  width: 100%;
  height: 350px;
  background-color: rgb(94, 93, 93);
  border-radius: 9px;
  padding: 15px;
}

.keyboard-row {
  width: 100%;
  height: 55px;
  display: flex;
  column-gap: 10px;
  margin-bottom: 8px;
}

.keyboard-key {
  width: 55px;
  height: 55px;
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(65, 65, 65);
  }
}

.Backspace {
  width: 125px;
}

.Tab,
.Backslash {
  width: 90px;
}

.CapsLock {
  width: 100px;
}

.Enter {
  width: 145px;
}

.ShiftLeft {
  width: 135px;
}

.ShiftRight {
  width: 110px;
}

.hidden {
  display: none;
}